.vscode

__pycache__

*.pyc
.idea/
env/
env3/
venv/
venv3/
db.sqlite3
.env

*.log
**/.DS_Store

id_rsa
id_rsa.pub
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

dummy

static_root/

*.csv
*.xlsx

static/
